* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #381460;
}

.kite-container {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.kite-container .kite .kite-item {
  width: 0px;
  height: 0px;
}

.kite-container .kite .kite-item.kite-first {
  border-right: 80px solid transparent;
  border-left: 60px solid transparent;
  border-bottom: 0;
  border-top: 50px solid #b21f66;
}

.kite-container .kite .kite-item.kite-second {
  border-right: 80px solid transparent;
  border-left: 60px solid transparent;
  border-top: 0;
  border-bottom: 50px solid #b21f66;
}
