* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #381460;
}

.kite-container {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.kite-container .kite .kite-item {
  width: 0px;
  height: 0px;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
}

.kite-container .kite .kite-item.kite-first {
  border-bottom: 0;
  border-top: 30px solid #b21f66;
  animation: 4s kite-first linear infinite;
  transform-origin: bottom center;
}

.kite-container .kite .kite-item.kite-second {
  border-top: 0;
  border-bottom: 30px solid #b21f66;
  animation: 4s kite-second linear infinite 1s;
  transform: rotate(90deg);
  transform-origin: top center;
}

@keyframes kite-first {
  0%,
  25% {
    transform: rotate(0deg);
  }

  50%,
  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes kite-second {
  0%,
  25% {
    transform: rotate(90deg);
  }

  50%,
  75%{
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(450deg);
  }
}
